
    

<!-- {% load static %} -->


<!-- MATERIAL DESIGN ICONIC FONT -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<!-- STYLE CSS -->
<link href="{% static 'css/expense/style.css' %}" rel="stylesheet" />
<!-- <link href="{% static 'css/expense/style.css.map' %}" rel="stylesheet" /> -->
<!-- <link href="{% static 'css/expense/style.scss' %}" rel="stylesheet" /> -->


<div class="modal-content" style="background: none;">


    <div class="wrapper">
        <!-- <form action=""> -->
            <div id="wizard" role="application" class="wizard clearfix">
                <div class="steps clearfix">
                    <ul role="tablist">
                        <li role="tab" aria-disabled="false" class="first current" aria-selected="true"><a
                                id="wizard-t-0" href="#wizard-h-0" aria-controls="wizard-p-0"><span
                                    class="current-info audible">current step: </span><span class="number">1.</span>
                            </a></li>
                        <li role="tab" aria-disabled="false"><a id="wizard-t-1" href="#wizard-h-1"
                                aria-controls="wizard-p-1"><span class="number">2.</span> </a></li>
                        <li role="tab" aria-disabled="false" class="last"><a id="wizard-t-2" href="#wizard-h-2"
                                aria-controls="wizard-p-2"><span class="number">3.</span> </a></li>
                    </ul>
                </div>
                <form action="{% url 'Main' %}" method="post">
                <div class="content clearfix">

                    <h4 id="wizard-h-0" tabindex="-1" class="title current"></h4>
                    <section id="wizard-p-0" role="tabpanel" aria-labelledby="wizard-h-0" class="body current"
                        aria-hidden="false">
                        <div class="form-header">
                            <div class="avartar">
                                <a href="#">
                                    <img src="images/avartar.png" alt="">
                                </a>
                                <div class="avartar-picker">
                                    <input type="file" name="file-1[]" id="file-1" class="inputfile"
                                        data-multiple-caption="{count} files selected" multiple="">
                                    <label for="file-1">
                                        <i class="zmdi zmdi-camera"></i>
                                        <span>Choose Picture</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-holder active" style="color: brown;">
                                    <input type="text" placeholder="Add Description" class="form-control" name="description">
                                </div>
                                <div class="form-holder">
                                    <input type="number" placeholder="Add Amount" class="form-control" name = 'amount'>
                                </div>
                                
                            </div>
                        </div>
                        <!-- <div class="form-holder">
                            <input type="text" placeholder="Email" class="form-control">
                        </div> -->
                        <div class="form-holder">
                            <!-- <input type="date" placeholder="Create a password" class="form-control" name = "date"> -->
                            <label>Participants:</label>
                                
                            <!-- <div class="participants-checkbox"> -->
                                {% for user in group.members.all %}
                                    <label>
                                        <input type="checkbox" name="split_with" value="{{ user.id }}">
                                        {{ user.username }}
                                    </label>
                                {% endfor %}
                            <!-- </div> -->
                            
                        </div> 
                    </section>
                    <!-- 
                        <h4 id="wizard-h-1" tabindex="-1" class="title" ></h4>
                        <section id="wizard-p-1" role="tabpanel" aria-labelledby="wizard-h-1" class="body"
                        aria-hidden="true" style="display: none;">
                        <div class="grid">
                            <div class="row">
                                <a href="#" class="grid-item" style="background-image: url(images/programming-bg.jpg);">
                                    <div class="inner">
                                        <img src="images/programming.png" alt="">
                                        <span>Programming</span>
                                    </div>
                                </a>
                                <a href="#" class="grid-item" style="background-image: url('images/research-bg.jpg');">
                                    <div class="inner">
                                        <img src="images/research.png" alt="">
                                        <span>Research</span>
                                    </div>
                                </a>
                                <a href="#" class="grid-item" style="background-image: url('images/teacher-bg.jpg');">
                                    <div class="inner">
                                        <img src="images/teacher.png" alt="">
                                    </form>
                                        <span>Teacher</span>
                                    </div>
                                </a>
                            </div>
                            <div class="row">
                                <a href="#" class="grid-item"
                                    style="background-image: url('images/tour-guide-bg.jpg');">
                                    <div class="inner">
                                        <img src="images/tour-guide.png" alt="">
                                        <span>Tour Guide</span>
                                    </div>
                                </a>
                                <a href="#" class="grid-item" style="background-image: url('images/business-bg.jpg');">
                                    <div class="inner">
                                        <img src="images/business.png" alt="">
                                        <span>Business</span>
                                    </div>
                                </a>
                                <a href="#" class="grid-item" style="background-image: url('images/artist-bg.jpg');">
                                    <div class="inner">
                                        <img src="images/artist.png" alt="">
                                        <span>Artist</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </section> -->

                    <!-- <h4 id="wizard-h-2" tabindex="-1" class="title"></h4>
                    <section id="wizard-p-2" role="tabpanel" aria-labelledby="wizard-h-2" class="body"
                        aria-hidden="true" style="display: none;">
                        <div class="form-row">
                            <div class="form-holder">
                                <input type="text" placeholder="Street Name" class="form-control">
                            </div>
                            <div class="form-holder">
                                <input type="text" placeholder="Street Number" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-holder">
                                <input type="text" placeholder="City" class="form-control">
                            </div>
                            <div class="form-holder">
                                <input type="text" placeholder="Country" class="form-control">
                            </div>
                        </div>
                    </section> -->
                </div>
                <div class="actions clearfix">
                    <ul role="menu" aria-label="Pagination">
                        <li class="disabled" aria-disabled="true"><a href="#previous" role="menuitem">Back</a></li>
                        <li aria-hidden="false" aria-disabled="false"><a  role="menuitem" type="submit">Continue</a></li>
                        <li aria-hidden="true" style="display: none;"><a href="#finish" role="menuitem">Finish</a></li>
                    </ul>
                </div>
            </div>
        <!-- </form> -->
    </div>
</div>




<script src="{% static 'js/expense/main.js' %}"></script>
    <script src="{% static 'js/expense/jquery.steps.js' %}"></script>
    <script src="{% static 'js/expense/theme-map.js' %}"></script>

    <script src="{% static 'js/expense/jquery-3.3.1.min.js' %}"></script>

<!-- Template created and distributed by Colorlib -->



# def calculate_user_balances(group):
#     user_balances = {user: Decimal(0) for user in group.members.all()}
#     # import pdb;pdb.set_trace()

#     for expense in Expense.objects.filter(group=group):
#         if expense.paid_by == expense.created_by:
#             user_balances[expense.paid_by] += expense.amount_paid_by_user
#         else:
#             user_balances[expense.paid_by] += expense.split_amount

#     for user, amount in expense.owes.items():
#         user_balances[user] -= amount
#              # Adjusted subtraction here
#     for user, balance in user_balances.items():
#         print(f"{user.username}: {balance}")
#     return user_balances


# def calculate_settle_up_details(user_balances):
#     return {
#         'owes': {member: abs(amount) for member, amount in user_balances.items() if amount > 0},
#         'gets_back': {member: amount for member, amount in user_balances.items() if amount < 0},
#     }




# def detailed_repayments(request, group_id, user_id):
#     group = get_object_or_404(Group, id=group_id)
#     user = get_object_or_404(CustomUser, id=user_id)
#     user_balances = calculate_user_balances(group)
#     settle_up_details = calculate_settle_up_details(user_balances)
#     detailed_repayments = []

#     for other_user, amount in settle_up_details['owes'].items():
#         if user == other_user:
#             continue  # Skip entries where the user owes money to themselves
#         detailed_repayment = Repayment(from_user=other_user, to_user=user, amount=amount)
#         detailed_repayment.save()
#         detailed_repayments.append(detailed_repayment)

#     for other_user, amount in settle_up_details['gets_back'].items():
#         if user == other_user:
#             continue  # Skip entries where the user receives money from themselves
#         detailed_repayment = Repayment(from_user=user, to_user=other_user, amount=amount)
#         detailed_repayment.save()
#         detailed_repayments.append(detailed_repayment)

#     context = {
#         'group': group,
#         'user': user,
#         'detailed_repayments': detailed_repayments,
#     }
#     # for repayment in detailed_repayments:
#     #     print(f"{repayment['from_user'].username} owes {repayment['amount']:.2f} to {repayment['to_user'].username}")

#     return render(request, 'group/detailed_repayments.html', context)

