
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .owes-amount {
    color: green;
  }
  
  .owed-amount {
    color: red;
  }

  .red-text {
    color: red;
}

.green-text {
    color: green;
}
  </style>
</head>
<body>
  <h1>
    Group Name :- {{group}}
  </h1>
  <div> Transections Person Useername {{user.username}}</div>

  {% for transaction in transactions %}
  {% if transaction.amount > 0  %}
  {{ transaction.person }} will recieve 
  <span class="{% if transaction.color == 'red' %}red-text{% else %}green-text{% endif %}">
    &#8377;{{ transaction.abs_amount }} 
  </span>
  from {{ transaction.user }}
  <br>
  {% else %}
  {{ transaction.person }} will pay 
  <span class="{% if transaction.color == 'red' %}red-text{% else %}green-text{% endif %}">
    &#8377;{{ transaction.abs_amount}} 
  </span>
  to {{ transaction.user }}
  <br>

  {% endif %}
{% endfor %}



</body>
</html>

